.loading-animation {
    display: flex;
    gap: 5px;
}

.dot {
    height: 30px;
    width: 30px;
}

@keyframes floating-dot {

    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}